<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaLogica.Properties.Settings.AgendaElectronicaConnectionString"
            connectionString="Data Source=MICHAEL-PC\SQLEXPRESS;Initial Catalog=AgendaElectronica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>